
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pages {
  display: flex;
}
.navbar_container {
  background: #fff;
  width: 17vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


nav {
  margin-left: 2rem;
}
nav ul {
  margin-top: 2rem;
  list-style-type: none;
}

ul li {
  width: 90%;
  height: auto;
  margin: 20px 0px 10px 0px;
  border-bottom: 1px solid #959595;
  padding:10px 0px 10px 0px;
  /* background-color: #fdf307; */
}
.logout_container{
  margin-left: 2rem;
  /* background-color: yellow; */
  margin-top: 19rem;
}
#logout_btn{
  width: 90%;
  padding: 15px;
  background: linear-gradient(180deg, #48AF78 0%, #42996B 100%);
  color: #FFF;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
}
#logout_btn:hover{
  background: greenyellow;
  color: #494949;
}
.list_item a {
  /* background-color: #d96a6b; */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #494949;
}

#selected{
  color: #72AA83;
}


.dashboard {
  background: #d9d9d9;
  width: 73vw;
  height: 100vh;
}

.request_container {
  margin-left: 5rem;
  margin-top: 2rem;
}
#request_count {
  margin-bottom: 2rem;
  color: #72aa83;
  font-family: 'Poppins', sans-serif;
}

.received_request_box {
  /* background-color: aqua; */
  background: #ffffff;
  width: 100%;
  /* height: 20vh; */
  height: auto;
  margin-bottom: 3rem;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.completed_request_box {
  /* background-color:red; */
  background: #ffffff;
  width: 100;
  height: auto;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 54px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.request_head {
  display: flex;
  /* background-color: aquamarine; */
  color: #959595;
  font-family: "Lato";
  margin-bottom: 1rem;
}

.heading_style {
  color: #48af78;
}

#heading_style_date {
  display: flex;
  justify-content: space-around;
}

.head-container {
  border-right: 1px solid #959595;
  /* background-color:tomato; */
  padding: 0px 20px 0px 20px;
  text-align: left;
}

.head-container:nth-child(2) {
  width: 20%;
  text-align: center;
  /* background-color: teal; */
  padding: 0px 30px 0px 30px;
}

.head-container:nth-child(3) {
  border-right: none;
}

.head-container p {
  font-size: 15px;
  font-family: "Lato";
}

.head-container:nth-child(2) p {
  font-size: 12px;
  /* background-color: tomato; */
}

.status-bar {
  border: 1px solid #959595;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.completed_status-bar {
  border: 1px solid #959595;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  color: #fff;
  padding: 0.5rem;
  background-color: #44a16f;
  width: 65%;
  margin-bottom: 2rem;
}

.status_item {
  /* color: red; */
  color: #959595;
  border-right: 1px solid #959595;
  padding: 0.5rem;
  width: 33.33%;
  font-family: "Lato";
}

.status_item:nth-child(1) {
  background-color: #fdf307;
  border-radius: 24px 0px 0px 24px;
}

.status_item:nth-child(2) {
  text-align: center;
}

.status_item:nth-child(3) {
  border: none;
  text-align: end;
}

.holiday_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.noList {
  display: none;
}

.holiday_card {
  width: 28%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: #f5f4f4;
  text-align: center;
  color: #85c371;
  font-family: "Lato";
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#holidayInn{
  font-family: "Poppins",sans-serif;
}
.rare_card {
  width: 28%;
  position: relative;
}

.rare_holiday_card {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: #f5f4f4;
  text-align: center;
  color: #85c371;
  font-family: "Lato";
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rareFind {
  color: white;
  background-color: #d96a6b;
  width: 50%;
  /* width: 10%; */
  padding: 9px;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  float: right;
  position: absolute;
  top: -15px;
  right: -50px;
}



.card_info {
  padding: 10px;
  font-family: "Lato";
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  background: #eee;
  color: #959595;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
}
#card_info_con {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #959595;
  font-family: "Lato";
}
#bookNow {
  width: 50%;
  border: none;
  background: #44a16f;
  border-radius: 10px;
  color: #fff;
  font-family: "Lato";
}

#bookNow:hover{
  background-color: greenyellow;
  color: #494949;
}

#logoutText{
  font-family: "Lato";
  font-weight: bold;
}

@media screen and (max-width:1000px) {
  .dashboard{
    height: auto; 
  }
}